<div class="container">
  <div class="span3">
    <div class="whiteSpace"></div>
      <div class="span3">
        <%= link_to "Create a league",new_league_path, :class=>"btn btn-primary btn-league" %>
      </div>
    <div class="whiteSpace span12"></div>
      <h1 class="span3 or-text"><center>or</center></h1>
      <div class="span3 searchDashboard">
          <h1>Search for a league:</h1>
        <div class="input-append">
          <%= form_tag("/leagues", :method => "get") do %> 
          <%= text_field_tag :filter,nil, :class=>"league-bar" %>
          <input name="commit" class="btn" type="submit" value="Search" />
          <% end %>        
        </div> <!-- input-append -->
      </div> <!-- span5 -->
    </div> <!-- whiteSpace --> 
  </div> <!-- span3 -->
</div> <!-- container --> 
