<div id="content">
  <div class="container">		
    <div id="pricing-header">
      <h1>Play the Game, Learn the Trade.</h1>
      <h2>Sign up today!</h2>
    </div> <!-- /#pricing-header -->
    </br></br>
    <center>	
      <div class="row">
        <div class="span4">
          <%= link_to "Sign in", new_user_session_url,
            class: "btn btn-large btn-primary huge" %>
        </div>	<!-- span4 -->
        <div class="span4">
          <%= link_to "Sign up", new_user_registration_url,
            class: "btn btn-large btn-primary huge" %>
        </div>  <!-- span4 -->
        <div class="span4">
          <a href="<%=learn_path%>" class="btn btn-large btn-primary huge">Take a tour!</a>
        </div>	<!-- span4 -->
      </div>
    </center>		
  </div> <!-- container -->
</div> <!-- /#content -->
