<div class="container">
	<div class="whiteSpace"></div>
	        <span style="font-weight:600; color:red;">
	        	Any and every league page looks like this! It will provide you a listing of members, 
	        	start date, and end date. <br /><br />

	        	You can even edit "League Settings" by clicking the button below!
	        </span>
	<div class="whiteSpace"></div>
<div class="row">
<div class="span3">
    <form action="/learn/leagues/edit"><div><input class="btn btn-primary btn-quarter fixedButtons" type="submit" value="League Settings (tutorial)" /></div></form>

</div>
<div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">Members</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell">1</td>
    </tr>
  </table>
</div>
<div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">Start Date</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell">2013-05-10</td>
    </tr>
  </table>
</div>
<div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">End Date</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell">2013-07-10</td>
    </tr>
  </table>
</div>
</div>
<div class="row">
<div class="span12 whiteSpace"></div>
</div>
<div class="row">
  <div class="span3">
    <img alt="Missing" class="bordz" src="/assets/leagues/original/missing.jpg" />
  </div>
  <table class="table table-bordered table-striped table-highlight span4 league-table">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Account created</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>1</td>
          <td><a href="/learn/leagues/edit">Val Red</a></td>
          <td>2013-05-10 05:29:26 UTC</td>
        </tr>
    </tbody>  
    </tbody>
  </table>
  <div class="span5">
    <div class="input-append">
    <form accept-charset="UTF-8" action="/comments" class="new_comment" id="new_comment" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="FE3C3laVeVA78ZTMjjMvqRAutllGo9499pEQNRS9K80=" /></div>
        <input id="comment_comment" name="comment[comment]" size="30" type="text" />
      <input id="comment_location_id" name="comment[location_id]" type="hidden" value="1" />
      <input id="comment_comment_type" name="comment[comment_type]" type="hidden" value="1" />
      <input class="btn" name="commit" type="submit" value="Send" />
</form>    </div>
      <div class="post-container">                
        <div class="post-thumb"><a href="/learn/leagues/edit"><img alt="Missing" class="rounded" src="/assets/users/tiny/missing.png" /></a></div>
        <div class="post-content">
          <h4 class="fleft">Val Red</h4><h5 class="fright">May 10 05:30AM</h5><br>
          <p class="commentFix">Welcome to the Tutorial League page!</p>
        </div>
      </div>
      <div class="fivePix fixwidth"></div>
      <div class="post-container">                
        <div class="post-thumb"><a href="/learn/leagues/edit"><img alt="Missing" class="rounded" src="/assets/users/tiny/missing.png" /></a></div>
        <div class="post-content">
          <h4 class="fleft">Val Red</h4><h5 class="fright">May 10 05:29AM</h5><br>
          <p class="commentFix">Here you can post and view comments on the League!</p>
        </div>
      </div>
      <div class="fivePix fixwidth"></div>
</div>


<!-- Save for later for pagination
<h1>Tutorial League</h1>


<ul class="portfolios">
  <li>
  <a href="/leagues/1/portfolios/1">Val Red&#x27;s Portfolio</a>
</li>
</ul>


-->

</div>
</div>
