          <span style="font-weight:600; color:red;">
            Congratulations! You just bought 10 shares of Yahoo! Inc. and are well on your way to become a 
            Capital Gamer! <br /><br />
            You are now in your League User Portfolio, which will display your capital, margin, rank, as well as
            recent orders such as our purchase of Yahoo! Inc. so you may review your performance in a league!
            <br /><br />
            This is the end of our Beginner's Tutorial. Stay tuned for our Intermediate and Advanced Tutorials, in which we will teach you more about the Stock Market via Capital Games! <br /><br />
            You may now use any of the header links to navigate the website and begin your Capital Gaming experience. Enjoy! <br /><br />
            ~ The Capital Games Team.

          </span>
	  <div class = "whiteSpace"></div>
<div class = "container">
  <table class = "span3">
    <tr>
      <td style="font-weight:bold">Capital:</td> <td>$10000</td>
    </tr>
    <tr class="green_table_row" style="background-color: #D2E8CF;">
      <td style="font-weight:bold">Last updated:</td> <td>2013-05-10 06:32:01 UTC</td>
    </tr>
    <tr>
      <td style="font-weight:bold">Margin:</td> <td>$0.00</td>
    </tr>
    <tr class="green_table_row" style="background-color: #D2E8CF;">
      <td style="font-weight:bold">Rank:</td> <td>N/A</td>
    </tr>
  </table>
  <div class="span1"></div>
  <div class="span8">
    <h2>Recent Orders:</h2>
    <br>


      <table>
        <tr style="border: solid; border-width: 1px;">
          <td style="font-weight:bold">Ticker:</td> <td>YHOO</td>
        </tr>
        <tr style="border: solid; border-width: 1px;">
          <td style="font-weight:bold">Type:</td> <td>Buy</td>
        </tr>
        <tr style="border: solid; border-width: 1px;">
          <td style="font-weight:bold">Quantity:</td> <td>10</td>
        </tr>
        <tr style="border: solid; border-width: 1px;">
          <td style="font-weight:bold">Price:</td> <td>$0.00</td>
        </tr>
        <tr style="border: solid; border-width: 1px;">
          <td style="font-weight:bold">Time:</td> <td>2013-05-10 06:32:19 UTC</td>
        </tr>
      </table>
      <br>
  </div>
</div>

    <pre class='debug_dump'>--- !ruby/hash:ActiveSupport::HashWithIndifferentAccess
action: show
controller: portfolios
league_id: &#x27;1&#x27;
id: &#x27;2&#x27;
</pre>