<div id="footer">		
	<div class="container">
		<div class="row">
			<div class="span6">
				© 2013 <a href="http://jumpstartui.com">Capital Games</a>, all rights reserved.
			</div> <!-- /span6 -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /#footer -->